<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">


    <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-action="Index" asp-controller="Home" >
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">YGT PhoneBook</div>
    </a>


    <hr class="sidebar-divider my-0">


    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="Index">
            <i class="fas fa-fw fa-arrow-right"></i>
            <span>Home</span>
        </a>
    </li>


    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" asp-controller="People" asp-action="Index">
            <i class="fas fa-fw fa-arrow-right"></i>
            <span>People</span>
        </a>
    </li>


    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" asp-controller="Tag" asp-action="Index">
            <i class="fas fa-fw fa-arrow-right"></i>
            <span>Tag</span>
        </a>
    </li>


    <hr class="sidebar-divider">



    <li class="nav-item">
        <a class="nav-link" asp-controller="User" asp-action="Index">
            <i class="fas fa-fw fa-arrow-right"></i>
            <span>User</span>
        </a>
    </li>


    <hr class="sidebar-divider">


    <li class="nav-item">
        <a class="nav-link" asp-controller="Role" asp-action="Index">
            <i class="fas fa-fw fa-arrow-right"></i>
            <span>Role</span>
        </a>
    </li>


    <hr class="sidebar-divider">
</ul>