@model AddRoleModel

@{
    ViewData["Title"] = "Role Page";
}



@Html.Partial("RoleList", Model.rolesForDisplay)


<div class="row justify-content-end">
    <div class="col-2">
        <a class="btn btn-info btn-icon-split" data-toggle="modal" data-target="#roleAddModal">
            <span class="text-lg p-2 font-weight-bold m-2 text-gray-100">Add Role</span>
        </a>
    </div>
</div>


@Html.Partial("RoleAddModal", Model.newRole)

