@model MyIdentityRole


<div class="modal fade" id="roleAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Tag</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form asp-action="Create" asp-controller="Role" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="@Model.Name"></label>
                        <input type="text" asp-for="@Model.Name" class="form-control" maxlength="50">
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div>
                </div>



                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cansel</button>
                    <input type="submit" class="btn btn-info" value="Add" />
                </div>
            </form>
        </div>
    </div>
</div>