@model FullStackPhoneBook.EndPoints.MVC.Models.Tags.TagViewModel

@{
    ViewData["Title"] = "Tag Page";
}



@Html.Partial("TagList", Model.tags)


<div class="row justify-content-end">
    <div class="col-2">
        <a class="btn btn-info btn-icon-split"  data-toggle="modal" data-target="#tagModal">
            <span class="text-lg p-2 font-weight-bold m-2 text-gray-100">Add Tag</span>
        </a>
    </div>
</div>

@Html.Partial("AddTagModal", Model.newTag)
