@model List<FullStackPhoneBook.Domain.Core.Tags.Tag>

@if (Model != null)
{

    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="bg-gradient-secondary card border-left-info shadow h-100 py-2 ">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-lg font-weight-bold mb-1 d-flex justify-content-center text-gray-100">@item.Title</div>
                            </div>
                            <div class="col-auto">
                                <a asp-controller="Tag" asp-action="Delete" asp-route-id="@item.Id">
                                    <i class="fas fa-trash fa-2x text-danger"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
}
else
{
    <div asp-validation-summary="All" class="text-danger"></div>
}



